[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = actions javascript-action
[access "refs/*"]
	owner = group user/Timothy Clark (RebelTat)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Timothy Clark (RebelTat)
	label-Verified = -1..+1 group user/Timothy Clark (RebelTat)
	push = group user/Timothy Clark (RebelTat)
	read = group user/Timothy Clark (RebelTat)
	rebase = group user/Timothy Clark (RebelTat)
	removeReviewer = group user/Timothy Clark (RebelTat)
	submit = group user/Timothy Clark (RebelTat)
[access "refs/heads/*"]
	create = group user/Timothy Clark (RebelTat)
	push = +force group user/Timothy Clark (RebelTat)
	pushMerge = group user/Timothy Clark (RebelTat)
	read = group user/Timothy Clark (RebelTat)
[access "refs/tags/*"]
	push = group user/Timothy Clark (RebelTat)
	push = +force group user/Timothy Clark (RebelTat)
